@page
@using System.Globalization
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h2>仙台高専で生きるためのページ</h2>

<table>
    <thead>
    <tr>
        <th>校時</th>
        <th>@DateTime.Today.ToString("yyyy/MM/dd (ddd)", new CultureInfo("ja-JP")) 時間割</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @{
        foreach (var dayJugyo in Model.DayJugyos)
        {
            <tr>
                <td>@dayJugyo.Time<br>@dayJugyo.TimeString</td>
                <td>@dayJugyo.Subject</td>
                <td>@dayJugyo.Other</td>
            </tr>
        }
    }
    </tbody>
</table>

<h3>課題情報</h3>