@page
@using SnctJikanwari.JikanwariContents.Jugyo
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h2>仙台高専で生きるためのページ</h2>

<table>
    <thead>
    <tr>
        <th>校時</th>
        <th>@Model.DayTitle</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @{
        foreach (var dayJugyo in Model.DayJugyos)
        {
            if (dayJugyo is HenkoJugyo henko)
            {
                var bg = henko.HenkoStatus == "変更" ? "yellow" : "darkgray";

                <tr style="background-color: @bg">
                    <td>
                        @dayJugyo.Time<br>@dayJugyo.TimeString
                    </td>
                    <td>@henko.ToShortString()</td>
                    <td>@dayJugyo.Other</td>
                </tr>
                continue;
            }

            <tr>
                <td>
                    @dayJugyo.Time<br>@dayJugyo.TimeString
                </td>
                <td>@dayJugyo.Subject</td>
                <td>@dayJugyo.Other</td>
            </tr>
        }
    }
    </tbody>
</table>

<h3>課題情報</h3>